@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Add a new Tag</h1>
    </div>
</div>

<div class="container py-2">
    <form method="post" action="SubmitTag">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="displayname" class="form-label">Display Name</label>
            <input type="text" class="form-control" id="displayname" name="displayName">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        
    </form>
</div>