@model Bloggie.Web.Models.ViewModels.EditTagRequest
@{
}


<div>
    <h1 class="text-warning text-center">Edit & Delete functionality</h1>
</div>

<div class="container py-5">

    <form method="post" asp-action="Edit">
        <div class="mb-3">
            <label class="form-label">Id</label>
            <input type="text" asp-for="Id" class="form-control" readonly />
        </div>

        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" asp-for="Name" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Display Name</label>
            <input type="text" asp-for="DisplayName"  class="form-control" />
        </div>

        <div class="mb-3">
            <div class="d-flex">
                <input type="submit" class="btn btn-dark" value="Update" />
                <input type="submit" class="btn btn-danger ms-2" value="Delete" asp-controller="AdminTags" asp-action="Delete" asp-route-tagId="@Model.Id" />
            </div>
        </div>
    </form>
</div>